@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ParkNetApp</h1>
    <p>Page under construction, awsome App will be built!</a>.</p>
</div>
